<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Vehicle</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
<!--        <input type="hidden" th:field="${vehicleOwner.vehicle}">-->
        <label th:for="name">Vehicle Name</label>
        <input class="form-control" th:field="${vehicle.name}" />
        <span th:errors="${vehicle.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="year">Year</label>
        <select name="year">
            <option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), 1970, -1)}"
                    th:text="${year}"
                    th:value="${year}"></option>
        </select>

    </div>

    <div class="form-group">
        <label th:for="make">Make</label>
        <input class="form-control" th:field="${vehicle.make}" />
        <span th:errors="${vehicle.make}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="model">Model</label>
        <input class="form-control" th:field="${vehicle.model}" />
        <span th:errors="${vehicle.model}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="owners">Owner(s)</label>
        <select multiple
                th:field="${vehicle.owners}">
            <option th:each="owner : ${owners}"
                    th:text="${owner.name}"
                    th:value="${owner.id}"></option>
        </select>
        <span th:errors="${vehicle.owners}" class="error"></span>
    </div>

    <input type="submit" value="Add Vehicle" />
</form>

</body>
</html>