
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${vehicles} and ${vehicles.size()}">No vehicles!</p>

<div class="container body-content">
    <h2>Vehicles</h2>
    <ul>
        <li th:each="vehicle : ${vehicles}">
            <a th:href="@{'/vehicles/view/' + ${vehicle.id}}" th:text="${vehicle.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/vehicles/add'}">Add vehicles</a>

</div>

</body>
</html>