<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Vehicle: ' + vehicle.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${'Name: ' + vehicle.name}"></p>
    <p th:text="${'Year: ' + vehicle.year}"></p>
    <p th:text="${'Make: ' + vehicle.make}"></p>
    <p th:text="${'Model: ' + vehicle.model}"></p>
    <span th:each="owner : ${vehicle.owners}">
        <p th:text="${'Owner(s): ' + owner.name}"></p>
    </span>
</div>


</body>
</html>