<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>
<div th:if="${message}"
     class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:text="${message}"></strong>
</div>

<div class="h-100 d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="jumbotron" style="background-color:white; display: inline-block; vertical-align: middle; width: 500px;">
        <h2 class="display-3">Users</h2>
        <p class="text-info" th:text="${'Select a user to view more details/edit'}"></p>
        <hr class="my-2">
        <p th:unless="${owners} and ${owners.size()}">No users!</p>
            <div th:each="owner : ${owners}">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action"
                       style="width:100%;height:100%;display:block;"
                       th:href="@{'/users/view/' + ${owner.id}}"
                       th:text="${owner.name + ': ' + owner.role}"></a>
                </div>
            </div>

        <a th:href="@{'/users/add'}" role="button" class="btn btn-info btn-lg">Add users</a>
    </div>
</div>




<div th:replace="fragments :: footer-href"></div>
<div th:replace="fragments :: page-footer"></div>
</body>
</html>