<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:fragment="dashboard">
    <link rel="stylesheet" type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/sketchy_theme.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/calendar_main.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/dayGrid_main.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/timeGrid_main.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/calendar_bootstrap.css}" />


    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script type='text/javascript' th:src="@{/js/main.js}"></script>
    <script type='text/javascript' th:src="@{/js/dayGrid_main.js}"></script>
    <script type='text/javascript' th:src="@{/js/timeGrid_main.js}"></script>
    <script type='text/javascript' th:src="@{/js/bootstrap_main.js}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        var calendarE1 = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarE1, {
            plugins: [ 'interaction', 'dayGrid', 'bootstrap', 'timeGrid'],
            themeSystem: 'bootstrap',
            defaultView: 'dayGridMonth',
            header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth, timeGridWeek, timeGridDay'
            },

            events: {
                url: '/api',
                type: 'GET',
            },

            eventRender: function(info) {
                var start = info.event.start;
                var end = info.event.end;
                var vehicle = info.event.extendedProps.vehicle.name;
                var title = info.event.title;
                var location = info.event.extendedProps.location;
                var options = {weekday: 'short', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit'};

                $(info.el).popover({
                    html: true,
                    title: vehicle + '- ' + title,
                    placement: 'top',
                    trigger : 'click',
                    content: start.toLocaleString(undefined, options) + '<br><b> to </b>' + '<br>' + end.toLocaleString(undefined, options) + '<br><b>' + location,
                    container: 'body'
                }).popover('show');
            },
            eventClick: function(info) {
                info.jsEvent.preventDefault();
            }
        });
        calendar.render();
    });
    </script>

</head>

<head th:fragment="head">
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />
    <link th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/sketchy_theme.css}" rel="stylesheet" />
<!--    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />-->

    <script th:src="@{/js/bootstrap.js}"></script>
<!--    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js}"></script>-->

    <title th:text="'Maintainer' + ${title == null ? '' : ' :: ' + title}">Maintainer</title>

        <style>
            body {
            height: auto;
            width: 100%;
            padding-top: 70px;
        </style>
    <div sec:authorize="isAuthenticated()">
        <style>
             background-image: url("https://image.freepik.com/free-photo/squared-paper-texture_1154-677.jpg");
        </style>

    </div>
</head>
<body>

<th:block th:fragment="delete">
    <button type="button"
            class="btn btn-outline-danger"
            data-toggle="modal"
            data-target="#delete">
        Delete</button>

    <div id="delete" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="${'Are you sure you want to delete ' + entityName + '?'}"></p>
            </div>
            <div class="modal-footer">
                <a th:href="@{${link} + ${entityId} + '/delete'}"
                   class="btn btn-outline-danger" role="button">Delete</a>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
</th:block>

<th:block th:fragment="edit">
    <button type="button"
            class="btn btn-outline-success"
            data-toggle="modal"
            data-target="#edit">
        Edit</button>

    <div id="edit" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="${'Click continue to edit ' + entityName}"></p>
                </div>
                <div class="modal-footer">
                    <a th:href="@{${link} + ${entityId} + '/edit'}"
                       class="btn btn-outline-success" role="button">Continue</a>
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<div th:fragment="page-header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand"
           data-toggle="tooltip"
           data-placement="bottom"
           title="Dashboard"
           th:href="@{/dashboard}">Maintainer</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01" style="">
            <span sec:authorize="isAuthenticated()">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{#}"
                       id="navbarAppointments" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Appointments</a>
                    <div class="dropdown-menu" aria-labelledby="navbarAppointments">
                        <a class="dropdown-item" th:href="@{/appointments}">View All/Edit</a>
                        <a class="dropdown-item" th:href="@{/appointments/add}">Add</a>
                        <a class="dropdown-item nav-link dropdown-toggle bg-dark" th:href="@{#}"
                        id="apptTypes" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Appointment Types</a>
                        <div class="dropdown-menu" aria-labelledby="apptTypes">
                            <a class="dropdown-item" th:href="@{/appointments/types}">View All/Edit</a>
                            <a class="dropdown-item" th:href="@{/appointments/types/add}">Add</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{#}"
                       id="navbarUsers" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Users</a>
                    <div class="dropdown-menu" aria-labelledby="navbarUsers">
                        <a class="dropdown-item" th:href="@{/users}">View All/Edit</a>
                        <a class="dropdown-item" th:href="@{/users/add}">Add</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{#}"
                       id="navbarVehicles" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Vehicles</a>
                    <div class="dropdown-menu" aria-labelledby="navbarVehicles">
                        <a class="dropdown-item" th:href="@{/vehicles}">View All/Edit</a>
                        <a class="dropdown-item" th:href="@{/vehicles/add}">Add</a>
                    </div>
                </li>
            </ul>
            </span>

        </div>
    </nav>
</div>

<div th:fragment="page-footer">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</div>

<div class="footer" style="bottom:0; padding-top:25px;" th:fragment="footer-href">
    <a href="https://www.freepik.com/free-photos-vectors/background"><small>Background photo created by kues - www.freepik.com</small></a>
</div>

</body>
</html>