
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel='stylesheet' type='text/css' th:href="@{/css/bootstrap.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/main.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/dayGrid_main.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/timeGrid_main.css}" />
    <link rel='stylesheet' type='text/css' th:href="@{/css/bootstrap_main.css}" />


    <script type='text/javascript' th:src="@{/js/main.js}"></script>
    <script type='text/javascript' th:src="@{/js/dayGrid_main.js}"></script>
    <script type='text/javascript' th:src="@{/js/timeGrid_main.js}"></script>
    <script type='text/javascript' th:src="@{/js/bootstrap_main.js}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        var calendarE1 = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarE1, {
            themeSystem: 'bootstrap'
            plugins: [ 'interaction', 'dayGrid', 'bootstrap', 'timeGrid'],
            defaultView: 'dayGridMonth',
            header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth, timeGridWeek, timeGridDay'
            },
            events: {
                url: '/api',
                type: 'GET',
            }
        });
        calendar.render();
    });
    </script>


</head>
<body>

<div th:replace="fragments :: page-header"></div>


<div id="calendar"></div>

</body>
</html>