
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body onload="today">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Maintenance Tracker</h2>

    <div>
        <ul>
            <li  th:each="appointment : ${appointments}">
                <a th:href="@{'/appointments/view/' + ${appointment.id}}" th:text="${appointment.name}"></a>
            </li>
        </ul>
    </div>
    <div>
        <h1 class="calendar" align="center" th:text="${'calendar here'}"></h1>

    </div>
</div>

</body>
</html>