<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>

<div class="jumbotron">
    <h1 class="display-3" th:text="${'Sign Up'}"></h1>
    <hr class="my-4">
    <form th:action="@{/registration}" method="post">
        <div><label> Full Name : <input type="text" th:field="${user.name}"/> </label>
            <span class="errors" th:errors="${user.name}"></span></div>
        <div><label> Username : <input type="text" th:field="${user.username}"/> </label>
            <span class="errors" th:errors="${user.username}"></span></div>
        <div><label>Email Address : <input type="email" th:field="${user.email}"/></label>
            <span class="errors" th:errors="${user.email}"></span></div>
        <div><label> Password: <input type="password" th:field="${user.password}"/> </label>
            <span class="errors" th:errors="${user.password}"></span></div>
        <div><label> Verify Password: <input type="password" th:field="${user.verifyPassword}"/> </label></div>
        <div><label>Role: <input type="text" th:field="${user.roles}"/></label>
            <span class="errors" th:errors="${user.roles}"></span></div>
        <div><input type="submit" value="Register"/></div>
    </form>
    <hr class="my-4">
    <p class="lead">Return to
        <a th:href="@{/login}" th:text="${'login'}"></a>
    </p>
</div>


<div th:replace="fragments :: page-footer"></div>
</body>
</html>
